@{
    ViewData["Title"] = "WatchDog Errors Page";
    Layout = "~/Views/Shared/WatchDog.cshtml";
    var errorList = (List<WatchDogErrorModel>)ViewData["ErrorList"];
}
@section scripts
{
    <script src="~/lib/signalr/dist/browser/signalr.js"></script>  
    <script src="~/js/watchDog.js"></script>  
}


    <div class="text-center">
        <h1 class="display-4">WatchDog Errors</h1>
        <br />
        <br />
        <input type="button" id="updateWatchDogErrors" value="Mark as Solved" />
        <br />
        <br />
        <div><b>WatchDog Error Table</b><br /></div>
        <table class="table table-bordered table-responsive table-hover">
            <tr>
                <th>Method Name </th>
                <th>Error Message </th>
                <th>Status</th>
                <th>Timestamp</th>
                <th>Parameter1 </th>
                <th>Parameter2</th>
                <th>Parameter3</th>
                <th>Parameter4</th>
                <th>Parameter5</th>
            </tr>
            @foreach (WatchDogErrorModel error in errorList)
            {
                <tr>
                    <td>@error.MethodName</td>
                    <td>@error.ErrorMessage</td>
                    <td>@error.Status</td>
                    <td>@error.TimeStamp</td>
                    <td>@error.Parameter1</td>
                    <td>@error.Parameter2</td>
                    <td>@error.Parameter3</td>
                    <td>@error.Parameter4</td>
                    <td>@error.Parameter5</td>
                </tr>
            }
        </table>


    </div>
